{% extends 'base.html.twig' %}

{% block body %}
  <div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <h4>Bienvenue dans le domaine du temps</h4>
          <h1>TIMER GO</h1>
        </div>
      </div>
    </div>
    <!-- /container -->
  </div>
{% endblock %}