{% extends 'base.html.twig' %}

{% block body %}
<header class="masthead">
    <div class="container" style="padding-left: 32.75rem">
        <div class="masthead-subheading">Bienvenue dans le domaine du temps</div>
        <div class="masthead-heading text-uppercase">Timer Go</div>
        <!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a> -->
    </div>
</header>
{% endblock %}