<div class="wrapper wrapper--w780">
    <div class="card card-3">
        <div class="card-heading"></div>
        <div class="card-body">
            {{ form_start(form) }}
            <div class="input-group input--style-3">
                <div class='input'>
                    {{ form_widget(form) }}
                </div>
            </div>
            <a class="p-t-10 btn btn--pill btn--green"></a>
                <button class="btn">{{ button_label|default('Save') }}</button>
            </a>
            {{ form_end(form) }}
        </div>
    </div>
</div>