{% extends 'base.html.twig' %}

{% block title %}New UserProject{% endblock %}

{% block body %}
    <h1>Create new UserProject</h1>

    {{ include('user_project/_form.html.twig') }}

    <a href="{{ path('user_project_index') }}">back to list</a>
{% endblock %}
