{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}

    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="contain-block">
            <h1>Projets</h1>
            <div class="wrapper wrapper--w780">
                <div class='url card-3bis'><a href="{{ path('project_index') }}">Retour à la liste</a></div>
                <div class="card card-3">
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Nom du projet</th>
                                    <td>{{ project.nameProject }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class='button'>
                    <button class='btn btn-info'><a href="{{ path('project_edit', {'id': project.id}) }}">Modifier</a></button>
                    {{ include('project/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
