{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class='contain-block'>
        <h1>Edit User</h1>
            <div class="wrapper wrapper--w780">
                {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
                <div class='url card-3bis'><a href="{{ path('user_index') }}">back to list</a></div>
                {{ include('user/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
    
{% endblock %}
