{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}

    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class='contain-block'>
            <div class="button">
                <a class='btn btn-info' href="{{ path('user_show', {'id': user.id}) }}">Profil utilisateur</a>
            </div>
            {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>

{% endblock %}
